.layout {
  height: 100vh;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  flex: 1;
  padding: 1rem;
}

mat-sidenav.sidebar {
  width: 50%;
  min-width: 60px;
  max-width: 200px;
  box-sizing: border-box;
}
