@if (etudiant) {
<div class="student-page">

    <div class="student-card">

        <!-- LEFT PANEL -->
        <div class="student-sidebar">

            @if (etudiant.lienPhoto) {
            <img [src]="etudiant.lienPhoto" class="student-avatar" />
            } @else {
            <div class="student-avatar placeholder">
                {{ initialesAvatar }}
            </div>
            }

            <h2 class="student-name">
                {{ etudiant.user.firstname }} {{ etudiant.user.lastname }}
            </h2>



            <p class="student-program">
                <span class="right">Majeur : </span>
                {{ etudiant.programme }}
            </p>


            <div class="student-badge" [class.active]="etudiant.bourse === 'OUI'">
                <span class="right">Bourse : </span>
                {{ etudiant.bourse === 'Boursier' ? 'Boursier' : 'Non boursier' }}
            </div>

            <div class="student-meta">

                <span class="right">Campus : </span>
                {{ etudiant.campus }}
            </div>

            <div class="student-meta">

                <span class="right">Année : </span>
                {{ etudiant.anneeAcademique }}

            </div>


        </div>

        <!-- RIGHT PANEL -->
        <div class="student-content">

            <!-- Infos perso -->
            <div class="card">
                <h3>Informations</h3>

                <div class="grid">
                    <div>
                        <label>Prénom</label>
                        <p>{{ etudiant.user.firstname }}</p>
                    </div>

                    <div>
                        <label>Nom</label>
                        <p>{{ etudiant.user.lastname }}</p>
                    </div>

                    <div  [class.active]="etudiant.sexe === 'MASCULIN'">
                        <label>Sexe</label>
                        <p>{{etudiant.sexe === 'MASCULIN' ? 'masculin' : 'féminin' }}</p>
                    </div>

                    <div>
                        <label>Nationalité</label>
                        <p>{{ etudiant.nationalite }}</p>
                    </div>

                    <div>
                        <label>Téléphone</label>
                        <p>{{ telephoneFormate }}</p>
                    </div>

                    <div class="full">
                        <label>Adresse</label>
                        <p>{{ etudiant.adresse }}</p>
                    </div>
                </div>
            </div>

            <!-- Scolarité -->
            <div class="card">
                <h3>Scolarité</h3>

                <div class="grid">
                    <div>
                        <label>Numéro étudiant</label>
                        <p class="mono">{{ etudiant.numEtudiant }}</p>
                    </div>

                    <div>
                        <label>Formation</label>
                        <p>{{ etudiant.formation }}</p>
                    </div>


                    <div>
                        <label>Date inscription</label>
                        <p>{{ dateInscriptionFormatee }}</p>
                    </div>

                    <div class="full">
                        <label>Dernier diplôme</label>
                        <p>{{ etudiant.dernierDiplome}}</p>
                    </div>
                </div>
            </div>

            <!-- Contact -->
            <div class="card">
                <h3>Contact</h3>

                <a [href]="'mailto:' + etudiant.user.email" class="email-link">
                    {{ etudiant.user.email }}
                </a>
            </div>

            <!-- <button (click)="downloadPDF()" class="pdf-button">
                Télécharger en PDF
            </button> -->

        </div>

    </div>

</div>
} @else {
<div class="loading">Chargement...</div>
}