// ----------------
// Variables de couleurs
// ----------------
$epf-red: #C8102E;
$epf-red-light: #cd6172;
$epf-purple: #6A1B9A;
$epf-purple-light: #a25fc6;
$black: #000000;
$white: #FFFFFF;
$gray-light: #e6e6e6;
$gray-dark: #333333;
